*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;

    }
        canvas { 
          border: 1px solid gold;
          background-color:black;
          }
    h1{
        text-align: center;
        color: gold;
        border: 1px solid gold;
        padding: 10px;
        background-color: white;
      }
      body {
    background-image: url(https://media.istockphoto.com/id/1648196741/vector/cartoon-doodles-fastfood-seamless-pattern.jpg?s=612x612&w=is&k=20&c=z_2s71ufEuDDTs_weNyK5iuEZnG3V0qrs3f-_XCLgc4=)
    }
    .card{
    width:25px;
    height: 25px;
    margin: 10;
    position: relative;
}

.card img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.card .back-card{
    width: 25px;
    height: 25px;
}
.card .front-card{
    width: 25px;
    height: 25px;
}


